<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
>
<ui:composition template="/WEB-INF/templates/template.xhtml">
    <ui:define name="pageTitle">procuct Page</ui:define>
    <ui:define name="pageContent">
        <f:metadata>
            <f:viewParam name="type" value="#{productController.type}">
            </f:viewParam>
        </f:metadata>

        <b:row>
            <b:column span="8" offset="2">
                <b:panel title="#{productController.type}" look="primary">

                    <h:form>
                        <h:dataTable styleClass="table table-dark"
                                     value="#{productController.getAllProducts(productController.type)}" var="keyb">

                            <h:column>
                                <h:outputText id="search" value="#{keyb.id}" label="ID"/>
                            </h:column>
                            <h:column>
                                <h:outputText id="column2text" value="#{keyb.manufactory}" label="Manufactory"/>
                            </h:column>
                            <h:column>
                                <h:outputText id="column3text" value="#{keyb.name}" label="Name"/>
                            </h:column>
                            <h:column>
                                <h:outputText id="column4text" value="#{keyb.price} €" label="Price"/>
                            </h:column>
                            <h:column>
                                <h:outputText id="column5text" value="#{keyb.releaseDate}" label="ReleaseDate"/>
                            </h:column>
                            <h:column>
                                <h:outputText id="column6text" value="#{keyb.warranty} year(s)" label="Warranty"/>

                            </h:column>
                            <h:column>
                                <h:outputText id="column7text" value="#{keyb.wireless}" label="Wireless"/>
                            </h:column>
                            <h:column>
                                <b:button value="buy" icon="shopping-cart" look="success" size="lg"
                                          outcome="productItem.xhtml">
                                    <f:param name="product" value="#{productController.type}"></f:param>
                                    <f:param name="id" value="#{keyb.id}"></f:param>
                                </b:button>
                            </h:column>

                        </h:dataTable>

                    </h:form>
                </b:panel>
            </b:column>
        </b:row>


    </ui:define>
</ui:composition>
</html>