<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:b="http://bootsfaces.net/ui"
>
<h:head>
    <title><ui:insert name="pageTitle"/></title>
</h:head>
<h:body>
    <b:navBar brand="HardwareStore" brandHref="#" fluid="true">
        <b:navbarLinks pull="right"><b:navLink value="    " href="#"></b:navLink></b:navbarLinks>
        <b:navbarLinks pull="right">
            <b:navLink value="Users" href="#"></b:navLink>
            <b:dropMenu value="Dropdown">
                <b:navLink value="SSD" outcome="products.xhtml">
                    <f:param name="type" value="SSD"></f:param>
                </b:navLink>
                <b:navLink value="HDD" outcome="products.xhtml">
                    <f:param name="type" value="HDD"></f:param>
                </b:navLink>
                <b:navLink value="KeyBoard" outcome="products.xhtml">
                    <f:param name="type" value="KeyBoard"></f:param>
                </b:navLink>
                <b:navLink value="Mouse" outcome="products.xhtml">
                    <f:param name="type" value="Mouse"></f:param>
                </b:navLink>
                <b:navLink value="Screen" outcome="products.xhtml">
                <f:param name="type" value="Screen"></f:param>
                </b:navLink>
            </b:dropMenu>
            <b:button  icon="shopping-cart" look="success" size="lg"/>
        </b:navbarLinks>
    </b:navBar>
    <b:container fluid="true">
        <ui:insert name="pageContent"/>
    </b:container>
</h:body>
</html>